<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWordGroupService" />
                <binding name="BasicHttpsBinding_IWordGroupService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://sit323.azurewebsites.net/WordGroupService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWordGroupService"
                contract="ServiceReference1.IWordGroupService" name="BasicHttpBinding_IWordGroupService" />
            <endpoint address="https://sit323.azurewebsites.net/WordGroupService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IWordGroupService"
                contract="ServiceReference1.IWordGroupService" name="BasicHttpsBinding_IWordGroupService" />
        </client>
    </system.serviceModel>
</configuration>